body {
  margin: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  min-width: 400px;
}

input {
display: block;
margin-bottom: 15px;
width: 100%;
border: solid 2px green;
padding: 10px;
box-sizing: border-box;
}

button {
  background-color: green;
  color: white;
  padding: 10px 16px;
  border: 1px solid green;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}

#delete-btn {
  background-color: white;
  color: green;
  padding: 10px 16px;
  border: 1px solid green;
  border-radius: 3px;
  cursor: pointer;
  font-size: 15px;
}

#delete-btn:hover {
  background-color: green;
  color: white;
}

ul {
  list-style-type: none;
  margin: 10px 10px;
  padding: 0;
}

li {
  margin: 5px 0px;
}

a {
  text-decoration: none;
  color: green;
}

